.consultation {
    min-height: 580px;
    padding: 96px 0 91px 0;
    background: url('../img/safe_image_(8)_790.png') center (center / cover) no-repeat;
    .container {
        width: 870px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__header {
        text-align: center;
        font-family: $rbold;
        font-size: 30px;
        line-height: 30px;
        color: #001e28;
        &_form {
            text-align: center;
            margin: 60px 3px 0 0;
            font-family: $clight;
            font-size: 16px;
            line-height: 16px;
            color: #001e28;
        }
    }
    &__subheader {
        margin-top: 22px;
        margin-bottom: 59px;
        text-align: center;
        font-family: $cbold;
        font-size: 22px;
        line-height: 22px;
        color: #001e28;
    }
    &__divider {
        display: block;
        margin: 0 auto;
    }
    &__phone {
        @include phoneContact
    }
}