.conditions {
    padding: 91px 0 120px 0;

    background-color: #d8f0f0;
    background-image: linear-gradient(149.0deg, #d8f0f0 20%, #fdfde0 79%);
    &__header {
        @include subheader;
        line-height: 35px;
        margin-bottom: 100px;
    }
    
    //Разрыв для переноса во флексбокс
    .break {
        flex-basis: 100%;
        min-height: 82px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item {
            display: flex;
            
            width: 49%;
            &-img {
                max-height: 100px;
                margin-right: 50px;
            }
            &-header {
                font-family: $cbold;
                font-size: 22px;
                line-height: 1.2;
                color: #001e28;
            }
            &-subheader {
                margin-top: 19px;

                font-family: $clight;
                font-size: 17px;
                line-height: 1.2;
                color: #001e28;
            }
        }
    }

}